@model Project.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/log-in.css" rel="stylesheet" type="text/css" />>
</head>
<body>
    <div class="login">
        <h2>Login Here</h2>
        <form method="post" action="/Home/index" enctype="multipart/form-data">

        <label for="username">UserName:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass"><br>
        <input type="submit" value="login">
        </form>
    </div>

    
    
</body>
</html>
